<template>
  <div>
    <form
      class="form"
      @submit.prevent="onSubmit">
      <div
        class="form-group"
        v-for="(f, i) in formFieldsModel"
        :key="i">
        <FormUserFieldsInput
          :fieldOptions="f"
          :fieldValue="formData[f.field]"
          @onFieldChange="onFormUserFieldChange"
        />
      </div>
      <input 
        class="btn btn-primary mb-2" 
        name="Отправить" 
        type="submit">
    </form>
  </div>
</template>

<script>

import FormUserFieldsInput from './FormUserFieldsInput'

export default {
  components: {
    FormUserFieldsInput
  },
  props: {
    formFieldsModel: {
      type: Array,
      required: true,
    },
    formData: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      formFields: {},
    };
  },
  methods: {
    onSubmit() {
      this.$emit('onSubmit', this.formFields);
    },
    onFormUserFieldChange({field, value}) {
      this.formFields[field] = value;
    },
    setFormFieldsVariables() {
      for (let key in this.formData) {
        this.formFields[key] = this.formData[key];
      }
    }
  },
  mounted() {
    this.setFormFieldsVariables();
  }
}
</script>

<style lang="scss" scoped>
  .form{
    max-width: 500px;
    margin: auto;
    margin-top: 200px;
  }
</style>