<template>
  <div>
    <label>
      {{ fieldOptions.label }}
    </label>
    <template v-if="inputType == 'select'">
      <select
        class="form-control"
        @input="onInput($event.target.value)">
        <option
          v-for="opt in fieldOptions.meta.values"
          :key="opt.value"
          :value="opt.value"
          :selected="fieldValue == opt.value">
          {{ opt.label }}
        </option>
      </select>
    </template>
    <template v-else>
      <input
        class="form-control"
         @input="onInput($event.target.value)"
        :type="inputType"
        :value="fieldValue">
    </template>
  </div>
</template>

<script>
export default {
  props:{
    fieldOptions: {
      type: Object,
      required: true,
    },
    fieldValue: {
      fieldValue: {
        type: [String, Boolean],
        default: () => '',
      }
    },
  },
  computed: {
    inputType() {
      const fieldType = this.fieldOptions.type;
      let inputType = 'text';
      switch(fieldType) {
        case 'Select':
          inputType = 'select';
        break;
        case 'date':
          inputType = 'date';
        break;
      }
      return inputType;
    },
    fieldName () {
      return this.fieldOptions.field;
    }
  },
  methods:{
    onInput(v) {
      if (this.fieldOptions.validator) {
        //TODO Field validation
        console.log(this.fieldOptions.validator);
      }
      const payload = {
        field: this.fieldName,
        value: v
      }
      this.$emit('onFieldChange', payload);
    }
  }
}
</script>