<template>
  <div id="app">
      <FormUserFields
        :formFieldsModel="userFields"
        :formData="userData" 
        @onSubmit="onFormUserFieldsSubmit"
      />
  </div>
</template>

<script>
import FormUserFields from "./components/FormUserFields.vue"
import { nameValidator } from "./const/fns"
export default {
  name: "Root",
  components: {
    FormUserFields,
  },
  data() {
    const userFields = [
      {
        label: 'Name',
        field: 'name',
        type: 'String',
        validator: nameValidator,
      },
      {
        label: 'Gender',
        field: 'gender',
        type: 'Select',
        validator: nameValidator,
        meta: {
          values: [
            {
              label: 'Male',
              value: 'male'
            },
            {
              label: 'Female',
              value: 'female'
            }
          ]
        }
      },
      {
        label: 'Subscription',
        field: 'sub',
        type: 'date',
        validator: nameValidator,
      },

    ];
    const userData = {
      name: 'UserName',
      gender: 'male',
      sub : '2020-03-04',
    }
    return {
      userFields,
      userData
    };
  },
  methods:{
    onFormUserFieldsSubmit(payload) {
      //TODO Отправка данных на сервер
      console.log(payload);
    },
  },
};
</script>

<style lang="scss">
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>
